<h1>Create a new user</h1>

<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div class="flash errors">
      <h2>You have errors in your application!</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="form_field">
    <%= f.label :password %>
    <%= f.password_field :password %>
  </div>

  <div class="form_field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="form_actions">
    <%= f.submit %>
  </div>
<% end %>
