<h1>Create a new user</h1>

<%= form_for @user do |f| %>
  <%= render :partial => "shared/errors", :locals => { :object => @user } %>

  <div class="form_field">
    <%= f.label :email, "Email:" %>
    <%= f.text_field :email %>
  </div>

  <div class="form_field">
    <%= f.label :password, "Password:" %>
    <%= f.password_field :password %>
  </div>

  <div class="form_field">
    <%= f.label :password_confirmation, "Confirm password:" %>
    <%= f.password_field :password_confirmation %>
  </div>

  <div class="form_actions">
    <%= f.submit "Create", :class => "button" %>
  </div>
<% end %>
