<% unless @chats.empty? %>
  <h1>Choose your chat</h1>
  <dl class="chats_list">
    <% @chats.each do |chat| %>
      <a href="<%= chat_path(chat) %>">
        <dt><h2><%= chat.name %></h2></dt>
        <dd><%= chat.description %></dd>
      </a>
    <% end %>
  </dl>
<% else %>
  <div class="empty_list">
    <p>Not chats have yet been created.</p>
  </div>
<% end %>
<div class="new_chat_form">
  <h1>Create a new chat</h1>
  <%= form_for @chat do |f| %>
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name, :class => "input_main" %>
    <%= f.label :description, "Description:" %>
    <%= f.text_field :description, :class => "input_main" %>
    <%= f.submit 'Create', :class => "button"%>
  <% end %>
</div>
