<h1><%= @chat.name %></h1>

<div class="chat_window">
  <% @chat.messages.each do |message| %>
    <p>
      <span class="user_name"><%= message.user_name %></span>:
      <span class="chat_text"><%= message.text %></span>
    </p>
  <% end %>
</div>

<div class="chat_form">
  <%= form_for @chat.messages.new, :url => { :action => :message } do |f| %>
    <% if @username %>
      <%= f.hidden_field :user_name, :value => @username %>
    <% else %>
      <%= f.text_field :user_name, :class => "input_username", :placeholder => "Your username" %>
    <% end %>
    <%= f.text_field :text, :class => "input_chat", :placeholder => "Your message"%>
    <%= f.submit 'Send', :class => "button"%>
  <% end %>
</div>
