<!DOCTYPE html>
<html>
<head>
  <title>Simple Chat Application</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="user_nav">
      <div class="center">
        <% if current_user %>
          Logged in as <%= current_user.email %>. (<%= link_to 'Log out', logout_path %>)
        <% else %>
          <%= link_to 'Sign up', signup_path %> or <%= link_to 'log in', login_path %>.
        <% end %>
      </div>
    </div>
    <div class="center">
      <%= link_to image_tag('simple_chat_logo.png'),  root_path %>
    </div>  
  </header>

  <section class="center">
    <%= render :partial => "shared/flash", :locals => { :flash => flash } %>
    <%= yield %>
  </section>

  <footer class="center">
    <p>Simple Chat Application &copy; <%= Time.now.year %></p>
    <p>Created by <%= link_to 'Tomasz Grabowski', 'http://www.tomaszgrabowski.com' %>
    <%= debug(params) if Rails.env.development? %>
  </footer>
</body>
</html>
